
body{
 	background-color: black;
	}

.main{
	background-color: white;
	height: 500px;
	padding-left: 100px;
	margin-top: 110px;
	min-width: 1200px;
	position: relative;
	z-index: 1;
}

.ryu {
    width: 659px;
    height: 494px;
}

.ryu-ready, .ryu-still, .ryu-throwing {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing {
  display: none;
} 

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
  background-repeat: no-repeat;
}

.hadouken{
	background-image: url('../images/hadouken.gif');
width: 156px;
height: 90px;
float: left;
position: relative;
left: 520px;
top: 171px;
z-index: 10;
display: block;
}

/** {
  outline: red 1px solid;
}
