
body{
 	background-color: black;
	}
.instr{
font-size: 2.000em;
font-family: 'Knewave', cursive;
font-weight: 400;
float: right;
width: 55%;
padding: 10px;
margin: 100px 0;
  }
  p{
    padding: 35px 0;
  }

.main{
	background-color: white;
	height: 500px;
	padding-left: 100px;
	margin-top: 110px;
	min-width: 1200px;
	position: relative;
	z-index: 1;
}

.ryu {
    width: 659px;
    height: 494px;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing {
  display: none;
} 

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
  background-repeat: no-repeat;
}

.hadouken{
	background-image: url('../images/hadouken.gif');
width: 156px;
height: 90px;
float: left;
position: relative;
left: 520px;
top: 171px;
z-index: 10;
display: none;
}

.ryu-cool{
background-image: url('../images/ryu-cool.gif');
display: none;
}

/** {
  outline: red 1px solid;
}
